<div style="background-color: #3AA57A">
  <img (click)="takePicture()" *ngIf="postPicture" class="profile-view__image" [src]="postPicture" alt="profile">
  <img (click)="takePicture()" *ngIf="!postPicture" class="profile-view__image" [src]="defaultProfilePicture" alt="profile">
</div>

<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label stacked>User Name</ion-label>
      <ion-input type="text" placeholder="User Name" [value]="profile.userName" [(ngModel)]="profile.userName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input type="text" placeholder="First Name" [value]="profile.firstName" [(ngModel)]="profile.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input type="text" placeholder="Last Name" [value]="profile.lastName" [(ngModel)]="profile.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Date of Birth</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="profile.dateOfBirth"></ion-datetime>
    </ion-item>
    <ion-list radio-group [(ngModel)]="profile.userType">
      <ion-list-header>
        User Type
      </ion-list-header>
      <ion-item>
        <ion-label>Standard</ion-label>
        <ion-radio value="standard"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Boutique</ion-label>
        <ion-radio value="boutique"></ion-radio>
      </ion-item>
    </ion-list>
           
  </ion-card-content>
</ion-card>


<button style="float:right" ion-button (click)="saveProfile()">Save</button>