<ion-header>
  <ion-navbar>
    <ion-title *ngIf="currentPost">{{currentPost.caption}}</ion-title>
    <button ion-button float-right clear color="secondary" *ngIf="owner" (click)="navigateToEditPostPage()">Edit</button>
  </ion-navbar>
</ion-header>

<ion-content on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()">
  <ion-row padding>
  </ion-row>
  <ion-card *ngIf="currentPost">
    <ion-card-header >
      {{currentPost.location}}
    </ion-card-header>
    <ion-card-content>
     <img src="{{currentPost.photo}}"/>
    <button float-left ion-button outline (click)="toggleDown(currentPost)" color="danger">
      <ion-icon name="thumbs-down">{{currentPost.thumbDown}}</ion-icon>
    </button>
    <button float-right ion-button outline (click)="toggleUp(currentPost)" color="primary">
      <ion-icon name="thumbs-up">{{currentPost.thumbUp}}</ion-icon>
    </button>
    <h1 align="center"><br/>{{currentPost.hashtags}}</h1>
    <button ion-button clear large block (click)="goToProfile(currentPost.userName)">{{currentPost.userName}}</button>
    </ion-card-content>
  </ion-card>

  