<ion-header>
  <ion-navbar>
    <ion-title *ngIf="currentPost">{{currentPost.caption}}</ion-title>
    <button ion-button float-right clear color="secondary" *ngIf="owner" (click)="navigateToEditPostPage()">Edit</button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row padding>
  </ion-row>
  <ion-card *ngIf="currentPost">
    <ion-card-header >
      {{currentPost.location}}
    </ion-card-header>
    <ion-card-content>
     <p><img src="{{currentPost.photo}}"></p>
      <h1 align="center"> {{currentPost.hashtags}} </h1>
      <a ion-item align="center" (click)="goToProfile(currentPost.userNam)"> {{currentPost.userName}} </a>
    </ion-card-content>
  </ion-card>

  