<ion-header>
  <ion-navbar>
    <ion-title>Post</ion-title>
    <ion-buttons end>
      <button ion-button clear color="secondary" *ngIf="owner" (click)="navigateToEditPostPage()">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="currentPost">
    <img src="{{currentPost.photo}}"/>

    <ion-item>
        <ion-avatar item-start>
          <img src="https://firebasestorage.googleapis.com/v0/b/sp-login-94206.appspot.com/o/logo%2Ficon.png?alt=media&token=45215c3c-63f9-4ff9-8af5-fc4f9b2e0e98">
        </ion-avatar>
        <h2 (click)="goToProfile(currentPost.userName)">{{currentPost.userName}}</h2>
        <p>{{currentPost.location}}</p>
      </ion-item>

    <ion-card-content>
      <p>{{currentPost.caption}}</p>
      <div style="padding: 10px 0px 0px 0px;">{{currentPost.hashtags}}</div>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>Comments</div>
        </button>
      </ion-col>
      <ion-col col-auto>
          <button ion-button icon-left clear small color="danger" (click)="toggleDown(currentPost)">
            <ion-icon name="thumbs-down"></ion-icon>
            <div> {{currentPost.thumbDown}}</div>
          </button>
        </ion-col>
      <ion-col col-auto>
        <button ion-button icon-left clear small (click)="toggleUp(currentPost)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div> {{currentPost.thumbUp}}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="similarPost.length !== 0">
    <ion-row>
      <ion-label padding-left>Posts you might like</ion-label>
    </ion-row>
    <ion-row padding-left padding-right padding-bottom>
      <ion-col class="min-padding" col-4 *ngFor="let post of similarPost" (click)="goToEventDetail(post)">
        <img src='{{post?.photo}}' style="width:auto;height:auto;" />
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>