<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <button ion-button style="float: right" clear small color="secondary" (click)="navigateToEditProfile()">Edit</button>
  </ion-navbar>

</ion-header>


<ion-content>
  <profile-form></profile-form>


  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-label padding-left>Your Posts</ion-label>
      </ion-row>
      <ion-row padding-left padding-right padding-bottom *ngIf="myPosts.length !== 0">
        <ion-col class="min-padding" col-4 *ngFor="let post of myPosts" (click)="goToEventDetail(post)">
          <img src='{{post?.photo}}' style="width:auto;height:auto;" />
        </ion-col>
      </ion-row>
      <ion-row padding-left *ngIf="myPosts.length === 0">
        <p>You didn't post yet.</p>
      </ion-row>
    </ion-card>
    <ion-card *ngIf="likedPostList.length !== 0">
      <ion-row>
        <ion-label padding-left>Liked Posts</ion-label>
      </ion-row>
      <ion-row padding-left padding-right padding-bottom>
        <ion-col class="min-padding" col-4 *ngFor="let post of likedPostList" (click)="goToEventDetail(post)">
          <img src='{{post?.photo}}' style="width:auto;height:auto;" />
        </ion-col>
      </ion-row>
    </ion-card>
    <button ion-button block color="danger" clear (click)="signOut()">Sign Out</button>
  </ion-grid>
  
</ion-content>

