<ion-header>

  <ion-navbar>
    <ion-title>Inbox</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="inboxType">
    <ion-segment-button value="users">
      Users
    </ion-segment-button>
    <ion-segment-button value="messages">
      Messages
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-searchbar placeHoler="filter" (ionInput)="filterPost($event)"></ion-searchbar>
  <div [ngSwitch]="inboxType">
    <ion-list *ngSwitchCase="'users'">
      <ion-item *ngFor="let profile of profileList" (click)="goToMessageDetail(profile)">
        <ion-avatar item-left>
          <img [src]="profile.profile.avatar" alt="avatar">
        </ion-avatar>
        <h2>{{profile.profile.userName}}</h2>
        <p>{{profile.profile.userType}}</p>
      </ion-item>
    </ion-list>
  
    <ion-list *ngSwitchCase="'messages'">
      <ion-item-sliding #item *ngFor="let user of chatList">
        <ion-item (click)="goToMessageDetailFromMessageList(user)">
          <ion-avatar item-left></ion-avatar>
          <h2>{{user}}</h2>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteMessage(user)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
