<ion-content padding>
  <ion-row>
    <ion-col></ion-col>
    <ion-col col-auto style="padding: 50px 20px">
        <button *ngIf="!postPicture" ion-button icon-only block large color="primary" (click)="takePicture()">
            <ion-icon name="md-camera" style="margin: auto;"></ion-icon>
        </button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  
  <img [src]="postPicture"  *ngIf="postPicture"/>

  <ion-list inset>
    <button ion-button block clear *ngIf="eventLocation" (click)="openLocationModal()">{{ eventLocation }}</button>
  
    <ion-item>
      <ion-input [(ngModel)]="eventCaption" type="text" placeholder="Caption"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input [(ngModel)]="eventHashtags" type="text" placeholder="Hashtags"></ion-input>
    </ion-item>
    <ion-item no-lines></ion-item>

    <button ion-button block *ngIf="postPicture" (click)="upload(eventLocation,eventCaption, eventHashtags)">
      Share Post
    </button>
  </ion-list>
</ion-content>
