
<ion-header>
    <ion-navbar>
      <ion-title>
        Explore
        <ion-icon name="md-pin" style="float: right;"></ion-icon>
      </ion-title>
    </ion-navbar>
  
    <ion-segment [(ngModel)]="postType">
      <ion-segment-button value="standard">
        Users
      </ion-segment-button>
      <ion-segment-button value="boutique">
        Boutiques
      </ion-segment-button>
    </ion-segment>
  </ion-header>
  
  <ion-content no-padding>
    <ion-searchbar placeHoler="filter" (ionInput)="filterPost($event)">
  </ion-searchbar>
  
    <div [ngSwitch]="postType">
      <ion-grid *ngSwitchCase="'standard'">
          <ion-row>
              <ion-col class="min-padding" col-4 *ngFor="let post of standardList" (click)="goToEventDetail(post)">
                <img src='{{post?.photo}}' style="width:auto;height:auto;" />
              </ion-col>
            </ion-row>
      </ion-grid>
    
      <ion-grid *ngSwitchCase="'boutique'">
          <ion-row>
              <ion-col class="min-padding" col-4 *ngFor="let post of boutiqueList" (click)="goToEventDetail(post)">
                <img src='{{post?.photo}}' style="width:auto;height:auto;" />
              </ion-col>
            </ion-row>
      </ion-grid>
    </div>
  </ion-content>

