page-explore {
    
        .image-block{
            width: 100px;
            height: 100px;
        }
    
        .image-banner{
            width: 200px;
            height: 100px;
        }
    
        .min-padding {
            padding: 2px !important;
        }
    
    }
    